<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript" src="/jquery/jquery-3.5.1.js"></script>
<script src="/js/bootstrap.min.js" type="application/javascript"></script>
<link rel="stylesheet" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/css/demo.css">
<link>
<meta charset="UTF-8">
<title th:text="${sectionName}"></title>



</head>
<body class="body">
<div th:insert="~{navigation::copy}"></div>
<div class="container-fluid main profile"  >
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12"   >
            <h2><span th:text="${sectionName}"></span></h2>
            <hr>
            <div class="media" th:each="question : ${pageDto.questionDtos}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${question.user.avatar_url}" >
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" th:text="${question.title}"></h4>
                    <span th:text="${question.description}"></span>
                    <span>
                        <span class="text-dec" th:text="${question.comment_count}"></span><span>个回复 •</span>
                        <span class="text-dec" th:text="${question.view_count}"></span><span>个浏览数 •</span>
                        <span class="text-dec" th:text="${question.like_count}"></span><span>个喜欢 •</span>
                        <span th:text="${#dates.format(question.gmt_creat,'yyyy-MM-dd HH:mm')}"></span>
                    </span>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pageDto.showFirstPage}">
                        <a href="@{'/profile/'+${section}(page=${1})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pageDto.showPrevious}">
                        <a th:href="@{'/profile/'+${section}(page=${pageDto.page -1})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li  th:class="${pageDto.page==page}?'active':''" th:each="page:${pageDto.pages}"><a th:href="@{'/profile/'+${section}(page=${page})}" th:text="${page}" ></a></li>
                    <li th:if="${pageDto.showNext}">
                        <a th:href="@{'/profile/'+${section}(page=${pageDto.page +1})}" aria-label="Previous">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pageDto.showEndPage}">
                        <a th:href="@{'/profile/'+${section}(page=${pageDto.totalPage})}" aria-label="Previous">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>


        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"   >
            <div class="list-group section">
                <a href="/profile/question"  th:class="${section=='question'}?'active list-group-item ':'list-group-item '">
                    我的问题</a>
                <a href="/profile/replies"  th:class="${section=='replies'}?'active list-group-item':'list-group-item'">最新回复<span class="badge">14</span></a>

            </div>
        </div>
    </div>
</div>
</body>
</html>